@use "./themes/dark.css" as *;
@use "./themes/light.css" as *;
@use "./themes/christmas.css" as *;

// @use './themes/*' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--text-color);
  background: var(--bg-color);
}

button {
  background: var(--primary);
  padding: 6px;
}
