@use "./themes/dark.scss" as *;
@use "./themes/light.scss" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--text-color);
  background: var(--bg-color);
}

button {
  background: var(--primary);
  padding: 6px;
}
